@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
body{
    width: 100%;
    height: 100%;
overflow-x: hidden;
}

    


.carousel-container {
    width: 80%; 
    margin: 0 auto; 
    max-height: 500px;
    overflow: hidden;
    -webkit-box-shadow: 1px 3px 5px 0px #000000; 
    box-shadow: 1px 3px 5px 0px #000000;
    margin-bottom: 20px; 
}

.carousel-container .carousel-inner img {
    width: 100%; 
    height: auto; 
    max-height: 500px; 
    object-fit: cover; 
}

.carousel-caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 1px 3px 5px 0px #000000; 
    box-shadow: 1px 3px 5px 0px #000000;
}

.carousel-caption h5 {
    font-size: 2.5rem;
    color: white;
}

.carousel-caption p {
    font-size: 1.25rem;
    color: white;
}

.carousel-caption .btn {
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar-spacing {
    margin-bottom: 20px; 
    -webkit-box-shadow: 1px 2px 5px 0px #B4B4B4; 
    box-shadow: 1px 2px 5px 0px #B4B4B4;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #eaeaea;
    padding: 20px 0;
  }
  .text-muted {
    color: #6c757d !important;
  }
  .me-4 {
    margin-right: 1.5rem !important;
  }
  .text-reset {
    color: inherit;
  }

  /* about us css */

  .aboutus .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.aboutus .img-container img{
    -webkit-box-shadow: 3px 3px 6px 0px #000000; 
box-shadow: 3px 3px 6px 0px #000000;
}
.aboutus .col-sm-5{
text-align: center;
margin-bottom: 1rem;
}
.aboutus .card-title{
font-weight: bold;
}


/*teams*/
.team{
    margin-bottom: 1rem;
}
.team .card-title{
    font-weight: bold;
    
}
.team .card{
    margin-top: 1rem;
    -webkit-box-shadow: 0px 5px 12px 0px #000000; 
    box-shadow: 0px 5px 12px 0px #000000;
    text-align: center;
}
.team .ribbon {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
 .team .ribbon {
    --r: .8em; /* control the cutout */
    
    border-block: .5em solid #0000;
    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.8;
    clip-path: polygon(100% 0,0 0,0 100%,100% 100%,calc(100% - var(--r)) calc(100% - .25em),100% 50%,calc(100% - var(--r)) .25em);
    background:
     radial-gradient(.2em 50% at left,#000a,#0000) border-box,
     #2ca54a padding-box; /* the color  */
    width: fit-content;
  }
  .aboutus .col-sm-5{
    margin-top: 1rem;
  }
  .aboutus .col-sm-5 .card-body{
    -webkit-box-shadow: 0px 5px 12px 0px #000000; 
    box-shadow: 0px 5px 12px 0px #000000;
  }

/*Contact page CSS*/
.contact .card{
    margin-bottom: 2rem;
}
.contact #contactInfo{
    border: none;
}
.contact #contactInfo .card-title{
    font-weight: bold;
}.contact #btn{
    margin-top: 1.5rem;
}

@media (max-width: 992px) {
   .team .card {
    width: 180px;
    font-size: 12px;
    text-align: center;
    }
    .team .card-title{
        font-size:14px;
        font-weight: bold;
        
    }
    .aboutus .card-img-top{
        width: 300px;
    }
}
@media (max-width: 576px) {
    .team .card {
        width: 160px;
        font-size: 12px;
        text-align: center;
        }
        .team .card-title{
            font-size:14px;
            font-weight: bold;
            
        }
        .aboutus .card-img-top{
            width: 300px;
        }
}



/* Make carousel captions visible on smaller screens */
@media (max-width: 767px) {
   .carousel-caption {
        display: flex !important;
    }

     .carousel-caption h5 {
        font-size: 10px;
    }

    .carousel-caption p {
        font-size: 8px;
    }

    .carousel-caption .btn {
        font-size: 12px;
        padding: 8px 16px;
    }
    .about-agency{
        font-size: 10px;
    }
    .about-agency a{
        font-size: 12px;
    }
    .about-agency img{
   width: 200px;
.about-agency .btn btn-success{
text-align: center;
}
    }
    .about-agency .col-md-4 {
        text-align: center; /* Center the image horizontally */
        margin-top: 1rem;
    }
}
